.img{width: 100px; height: 100px}
.ion-text-wrap{white-space: normal}
ion-button {
    text-transform: none;
}
ion-title {
    text-transform: none;
    font-weight: bold;
    font-family:Tahoma ;
}
ion-item {
    font-family:SansSerif ;
    font-style:normal;
}
ion-select-option::placeholder {
    font-family: Tahoma;
    color: green;
}
ion-select{
    --placeholder-font: 13px !important;
    color:black;
}
p {
    font-family: Tahoma, serif;
}

span {
    font-family: Tahoma, serif;
}

.text-center{text-align: center}

::slotted([slot="end"]) {
    margin-left: 0;
    margin-inline-start: 0;
}

.overDue {
    color: #D0342C;
    margin: 5px;
    font-weight: bold;
}




